{% extends "index.html" %}
{% block content %}
        <h1>API Data</h1>
        <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.phone.label(class="form-label") }}

            {% if form.phone.errors %}
                {{ form.phone(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                {% for error in form.phone.errors %}
                    <span> {{ error }} </span>
                {% endfor %}
                </div>
            {% else %}
                {{ form.phone(class="form-control form-control-lg") }}
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
{% endblock content %}